<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>315185749424-79natmbapiv5r9der44jb0qavt4ejohc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315185749424-79natmbapiv5r9der44jb0qavt4ejohc</string>
	<key>API_KEY</key>
	<string>AIzaSyAJ37KkMquiBX_xjHLCNOg1qQNZEop-b3E</string>
	<key>GCM_SENDER_ID</key>
	<string>315185749424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iloveapps.bettingadvisor</string>
	<key>PROJECT_ID</key>
	<string>bettingtips-6cff2</string>
	<key>STORAGE_BUCKET</key>
	<string>bettingtips-6cff2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315185749424:ios:447d47825e325bb4708a75</string>
	<key>DATABASE_URL</key>
	<string>https://bettingtips-6cff2.firebaseio.com</string>
</dict>
</plist>